<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body style="background-color: #DFEBF6;">
    <div class="Main" style="width: 390px; height: 844px; position: relative; background: white">
        <div class="Header" style="width: 390px; height: 686px; left: 0px; top: 0px; position: absolute; background: #DFEBF6">
            <div class="OceanDB" style="width: 328px; left: 14px; top: 75px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="GroupOceanDb" style="width: 181.63px; height: 31.87px; position: relative">
                    <div class="FrameOceanDb" style="width: 168.63px; height: 20px; padding-left: 11.81px; padding-right: 11.81px; left: 13px; top: 10px; position: absolute"></div>
                    <div class="Design" style="width: 169.81px; height: 31.87px; left: 0px; top: 0px; position: absolute">
                        <div class="Oceandb" style="width: 145px; height: 20px; left: 24.81px; top: 10px; position: absolute; color: black; font-size: 25px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; line-height: 17.72px; word-wrap: break-word">OceanDB</div>
                        <div class="Group1000004162" style="width: 19.91px; height: 31.87px; left: 0px; top: 0px; position: absolute">
                        <div class="object1" style="width: 7.74px; height: 19.39px; left: 7.58px; top: 0px; position: absolute; transform: rotate(23deg); transform-origin: 0 0; background: #0084FF"></div>
                        <div class="object2" style="width: 7.74px; height: 19.39px; left: 12.63px; top: 11px; position: absolute; transform: rotate(20deg); transform-origin: 0 0; background: #0084FF"></div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="Dropdown" style="height: 45px; padding-left: 26.72px; padding-right: 0.13px; left: 315px; top: 68px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
            <div class="FrameDropdown" style="align-self: stretch; flex-direction: column; justify-content: center; align-items: center; gap: 4.43px; display: inline-flex ; padding-right: 100px; margin-left: 0px;">
            
              <div class="objectd1" style="width: 22.15px; height: 2.95px; background: black; border-radius: 2.95px"></div>
              <div class="objectd2" style="width: 22.15px; height: 2.95px; background: black; border-radius: 2.95px"></div>
            </div>
          </div>
        </div>
      
       
        <div class="TextCentre" style="left: 30px; top: 161px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 17px; display: inline-flex">
          <div class="BigText" style="width: 248px"><span style="color: black; font-size: 23px; font-family: Montserrat; font-weight: 600; line-height: 29px; word-wrap: break-word">Cross-Platform </span><span style="color: #1C92FE; font-size: 23px; font-family: Montserrat; font-weight: 600; line-height: 29px; word-wrap: break-word">Database</span><br><span style="color: black; font-size: 23px; font-family: Montserrat; font-weight: 600; line-height: 29px; word-wrap: break-word"> Management & Excel Integration.</div>
          <div class="smallText" style="width: 308px; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 17.72px; word-wrap: break-word">Experience unified database connectivity across diverse platforms with our user-friendly web app. Seamlessly connect to Amazon, MySQL, MongoDB, and Google Cloud servers, enjoying efficient data management all from one interface.</div>
          <div class="ConDb" style="flex-direction: column; justify-content: center; align-items: center; gap: 11.81px; display: flex">
            <div class="ButtonPrimaryS" style="width: 253.25px; padding-left: 23px; padding-right: 23px; padding-top: 10px; padding-bottom: 10px; background: #0085FF; box-shadow: 0px 11.813404083251953px 17.72010612487793px rgba(7, 7, 7, 0.16); border-radius: 5.91px; justify-content: center; align-items: center; gap: 7.38px; display: inline-flex">
              <div class="GetStarted" style="color: white; font-size: 11px; font-family: Inter; font-weight: 700; text-transform: capitalize; line-height: 17.72px; word-wrap: break-word">Connect database</div>
            </div>
          </div>
        </div>
        <img class="Saly10" style="width: 268px; height: 220px; left: 61px; top: 438px; position: absolute" src="img/Saly-10.png" />
        <div class="LogoMetrices" style="width: 253.25px; padding-top: 16px; padding-bottom: 32.20px; left: 61px; top: 677px; position: absolute; background: white; box-shadow: 23.626808166503906px 23.626808166503906px 62.02037048339844px rgba(125, 149, 169, 0.12); border-radius: 5.91px; justify-content: center; align-items: flex-start; gap: 14.38px; display: inline-flex">
            <img class="BusinessAnalystRemovebgPreview1" style="width: 103.62px; height: 50px" src="img/business_analyst-removebg-preview.png" />
            <img class="DabaseAdminRemovebgPreview1" style="width: 47.50px; height: 50px" src="img/dabase_admin-removebg-preview.png" />
            <img class="DataEntryRemovebgPreview1" style="width: 75.42px; height: 50px" src="img/data_entry-removebg-preview.png" />
          </div>
        <div class="Frame1000002478" style="width: 390px; left: 0px; top: 799px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Frame1000002477" style="width: 390px; height: 860px; position: relative; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Text" style="width: 231.10px; text-align: center"><span style="color: black; font-size: 17.72px; font-family: Inter; font-weight: 600; line-height: 23.63px; word-wrap: break-word">Taste the </span><span style="color: #0085FF; font-size: 17.72px; font-family: Inter; font-weight: 600; line-height: 23.63px; word-wrap: break-word">feeling</span></div>
            <div class="ConnectAndUploadExcelSheetToYourDatabaseTableForFree" style="width: 231.10px; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 17.72px; word-wrap: break-word">Connect and upload excel sheet to your database table for free.</div>
            <div class="Frame1000002445" style="width: 250px; padding-top: 11.81px; padding-bottom: 11.81px; padding-left: 11.81px; padding-right: 25px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="text" class="MysqlSever" style="color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="MySql Sever">
                <!-- <div class="Down" style="width: 17.72px; height: 17.72px; position: relative">
                  <div class="Line" style="width: 5.17px; height: 10.34px; left: 14.03px; top: 6.65px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.66px black solid"></div>
                </div> -->
              </div>
            </div>
            <div class="Frame1000002449" style="width: 251.77px; padding: 11.81px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="text" class="HostnameOrIpAddress" style="color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="Hostname or IP address">
              </div>
            </div>
            <div class="Frame1000002450" style="width: 251.77px; padding: 11.81px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="text" class="PortNumber" style="width: 143px; color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="Port number">
              </div>
            </div>
            <div class="Frame1000002451" style="width: 251.77px; padding: 11.81px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="text" class="DatabaseName" style="width: 143px; color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="Database name">
              </div>
            </div>
            <div class="Frame1000002452" style="width: 251.77px; padding: 11.81px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="text" class="Username" style="width: 143px; color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="Username">
              </div>
            </div>
            <div class="Frame1000002453" style="width: 251.77px; padding: 11.81px; background: white; border-radius: 5.91px; border: 0.37px #E1E1E1 solid; justify-content: flex-start; align-items: flex-start; gap: 63.50px; display: inline-flex">
              <div class="Frame1000002470" style="height: 20px; justify-content: space-between; align-items: center; gap: 5.91px; display: flex">
                <input type="password" class="Password" style="width: 143px; color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word" placeholder="Password">
              </div>
            </div>
            <div class="Group19409" style="width: 33.38px; height: 33.38px; position: relative">
              <div class="Ellipse176" style="width: 33.38px; height: 33.38px;   background: #0085FF; border-radius: 9999px; border: 1.19px white solid"></div>
              <div class="Cross16px" style=" left: 14px; top: 10.39px; position: absolute;   justify-content: flex-start;color: #E1E1E1;">+
                <input type="file" class="Vector" style="width: 0px; height: 0px; color: #DFEBF6; border-top: 10px groove #E1E1E1; ">
              </div>
            </div>
            <div class="UploadExcelCsvFile" style="width: 143px; color: rgba(0, 0, 0, 0.70); font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Upload Excel/CSV file</div>
            <div class="ButtonPrimaryS" style="width: 253.25px; padding-left: 23.63px; padding-right: 23.63px; padding-top: 10.34px; padding-bottom: 10.34px; background: #0085FF; box-shadow: 0px 11.813404083251953px 17.72010612487793px rgba(0, 133, 255, 0.16); border-radius: 5.91px; justify-content: center; align-items: center; gap: 7.38px; display: inline-flex">
              <button class="GetStarted" style="color: white; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: capitalize; line-height: 24px; word-wrap: break-word;background: #0085FF;border: none; ">Commit</button>
            </div>
            <div class="Rectangle6005" style="width: 390px; height: 181px; background: black;margin-top: 10px;">
              <div class="Group1000004163" style="width: 181.63px; height: 31.87px; position: relative">
                <div class="Frame1000002458" style="width: 168.63px; height: 20px; padding-left: 11.81px; padding-right: 11.81px; left: 13px; top: 10px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7.38px; display: inline-flex">
                  <div class="Oceandb" style="width: 145px; height: 20px; color: white; font-size: 25px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; line-height: 17.72px; word-wrap: break-word">OceanDB</div>
                </div>
                <div class="Group1000004162" style="width: 19.91px; height: 31.87px; left: 0px; top: 0px; position: absolute">
                  <div class="Rectangle6003" style="width: 7.74px; height: 19.39px; left: 7.58px; top: 0px; position: absolute; transform: rotate(23deg); transform-origin: 0 0; background: white"></div>
                  <div class="Rectangle6004" style="width: 7.74px; height: 19.39px; left: 12.63px; top: 11px; position: absolute; transform: rotate(20deg); transform-origin: 0 0; background: white"></div>
                </div>
              </div>
              <div>
              <ul data-view-component="true" style="list-style: none;" class="UnderlineNav-body">
              <li data-view-component="true"  class="About d-inline-flex" style="width: 55px; color: #0085FF; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word;display: inline-flex;"><a>About</a> </li>
              <li data-view-component="true" class="UseCase d-inline-flex" style="width: 76px; color: #0085FF; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word; display: inline-flex;"><a>Use case</a> </li>
              <li data-view-component="true" class="Docs d-inline-flex" style="width: 76px; color: #0085FF; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word;display: inline-flex;"><a>Docs</a> </li>
              <li data-view-component="true" class="Login d-inline-flex" style="width: 76px; color: #0085FF; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word;display: inline-flex;"><a>Login</a> </li>
              <li data-view-component="true"class="Contact d-inline-flex" style="width: 76px; color: #0085FF; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word;display: inline-flex;"><a>Contacz</a> </li>
              <li data-view-component="true" class="Copyright2023ByNdubuisiHenryAndIntisor" style="width: 328px; color: white; font-size: 13.29px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word;display: inline-flex;">Copyright @ 2023 by Ndubuisi, Henry, and Intisor</li>
               </ul>
              </div>
            </div>
         
           
          
          </div>
        </div>
      </div>
</body>
</html>